﻿<b>Добро пожаловать в Юлмарт и спасибо, что выбрали нас!</b><br/><br/>

Вы оформили заказ как незарегистрированный пользователь. Поэтому мы на всякий случай вас зарегистрировали и создали аккаунт, чтобы вы могли отслеживать статус заказ и получать бонусы с каждой покупки. Юлмарт будет знать, где вы предпочитаете забирать заказ и помнить адрес для доставки.<br/>

<#if hasXxlBonusesAcquired>Кстати, вы получите бонусы за заказ ${orderId} — в течение 24 часов они поступят на ваш счёт.</#if>
Осталось только <a href="${portalBindUrl}/remindUpdateSoft?${urlParams}">подтвердить регистрацию и выбрать пароль</a>. После этого вы можете заходить в «Личный кабинет» на сайте ulmart.ru.<br/>

Логином станет адрес вашей электронной почты ${email}.<br/>

Ваш код клиента: ${agentId}. Назовите его, если будете звонить в контакт-центр, чтобы уточнить статус заказа: тогда оператор сможет быстрее ответить на ваш вопрос.<br/>

Приятных покупок!<br/><br/>

Если вы не оформляли заказ в Юлмарте, то скорее всего кто-то без вашего ведома ввел адрес. Сообщите об этом по адресу sales@ulmart.ru, чтобы мы могли разобраться в ситуации. Или просто не обращайте внимание на это письмо.