<table border="1" cellpadding="1" cellspacing="1" style="width: 500px;">
 <tbody>
  <tr>
   <td>Регион</td>
   <td>${request.regionName}</td>
  </tr>
  <tr>
   <td>Номер</td>
   <td>${request.contractor.id}</td>
  </tr>
  <tr>
   <td>Наименование</td>
   <td>${request.contractor.name}</td>
  </tr>
  <tr>
   <td>Email</td>
   <td>${request.email}</td>
  </tr>
 </tbody>
</table>