<b>Здравствуйте!</b><br/>
Вы зарегистрированы на сайте с адресом электронной почты ${login}, для которой был обнаружен дубль.<br/>
Для подтверждения эл. почты пройдите по <a href="${portalBindUrl}/verifyDoubles/doubleEmailVerify?agentId=${agentId}&link=${link}">ссылке</a>.<br/>
Если Вы не делали запрос на подтверждение адреса эл.почты, то проигнорируйте это письмо.