<b>Здравствуйте!</b><br/>
Вы зарегистрированы на сайте с адресом электронной почты ${login}, для которой был обнаружен дубль.<br/>
Адрес почты (${login}), используемый для входа на сайт (${portalBindUrl}) следует изменить.<br/>
Для подтверждения изменения электронной почты используйте ключ:<br/>
${link} <br/>
Скопируйте его и в ставте в форму изменения почты на сайте.
Если Вы не делали запрос на подтверждение адреса эл.почты, то проигнорируйте это письмо.