﻿<b>Здравствуйте!</b><br/>
Вы зарегистрированы на сайте с адресом электронной почты ${login}.<br/>
Для подтверждения эл. почты пройдите по <a href="${portalBindUrl}${link}">ссылке</a>.<br/>
Если Вы не делали запрос на подтверждение адреса эл.почты, то проигнорируйте это письмо.
