<p>Вы (или кто-то, используя Ваше имя электронной почты) изменил пароль логина ${login} для доступа в личный кабинет на
    сайте <a href="https://www.ulmart.ru">www.ulmart.ru</a>.</p>

<p>Если это действие было совершено без Вашего ведома и желания, пожалуйста, сообщите об этом администратору сервиса
    <a href="mailto:sales.msk@ulmart.ru">sales.msk@ulmart.ru</a></p>
