﻿<b>Здравствуйте!</b><br/>
Вы зарегистрированы на сайте с логином ${login}.<br/>
Для восстановления пароля пройдите по <a href="${portalBindUrl}/remindUpdate?link=${link}">ссылке</a>.<br/>
Если Вы не делали запрос на восстановление пароля, то проигнорируйте это письмо.
