<p>Вы (или кто-то, используя Ваше имя электронной почты) зарегистрировали логин ${email} для доступа в личный кабинет на
    сайте <a href="https://www.ulmart.ru/">www.ulmart.ru</a>.</p>
<p>Если это действие было совершено без Вашего ведома и желания, пожалуйста, сообщите об этом
    <a href="http://www.ulmart.ru/help/current/feedback">администратору сервиса</a></p>

<p>
    Указанные данные регистрации:<br/>
    Ваш код клиента: ${agentId}<br/>
    Ваш логин: ${email}<br/>
    Ваш E-Mail: ${email}<br/>
</p>