<#macro proposedNativeGood goodBean>
<#-- @ftlvariable name="goodBean" type="ru.ulmart.domain.state.bargain.supplier.proposal.ProposalGoodBean" -->
    <tr style="padding:0;text-align:left;vertical-align:top">
        <td class="articl" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #bfbfbf;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:10px 9px 11px;padding-left:0;text-align:left;vertical-align:middle;word-wrap:break-word">Арт. <strong>${goodBean.proposedNativeGoodId}</strong></td>
        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #bfbfbf;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:10px 9px 11px;text-align:left;vertical-align:middle;word-wrap:break-word">${goodBean.proposedNativeGoodName}</td>
        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #bfbfbf;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:10px 9px 11px;text-align:left;vertical-align:middle;word-wrap:break-word">${goodBean.proposedNativeGoodAmount}</td>
        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-bottom:1px solid #bfbfbf;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:10px 9px 11px;padding-right:0;text-align:left;vertical-align:middle;word-wrap:break-word">${goodBean.proposedNativeGoodPrice}₽</td>
    </tr>
</#macro>